.passivity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    padding-top: 100px;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.passivity-title {
    font-size: 2rem;
    color: #333;
    text-align: center;
}

.passivity-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8); /* 반투명 배경 */
    border-radius: 10px;
}

.passivity-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.2s;
}

.passivity-input:focus {
    border-color: #4098ff; /* 포커스 시 테두리 색상 */
}

.passivity-label {
    font-size: 1.2rem;
    color: #666;
}

.passivity-button-container {
    margin-top: 25px;
}

.passivity-button {
    padding: 10px 20px;
    background-color: #4098ff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-right: 10px;
}

.passivity-delete-button {
    background-color: #ff4d4d; /* 레드 계열 색상 */
    color: white; /* 버튼 텍스트 색상 */
    padding: 10px 15px; /* 패딩, 위/아래 10px, 좌/우 15px */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 마우스 커서, 클릭 가능하게 */
    transition: background-color 0.3s, transform 0.3s; /* 부드러운 호버 효과 */
}

.passivity-delete-button:hover {
    background-color: #e63946; /* 호버 시 밝은 레드 */
}

.passivity-button:hover {
    background-color: #2f7bff;
}

.passivity-button:active {
    background-color: #1e5bff;
}

.passivity-cancel {
    margin-top: 30px;
}

.passivity-plan-results {
    margin-top: 30px;
    padding: 20px;
    width: 700px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.passivity-subtitle {
    font-size: 1.5rem;
    text-align: center;
    color: #333;
}

.passivity-plan-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.passivity-plan-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.passivity-no-plan {
    font-size: 1rem;
    color: #666;
    text-align: center;
}

.passivity-plan-details {
    display: flex;
    justify-content: space-between; /* 항목을 좌우로 정렬 */
    gap: 10px; /* 간격 조정 */
}

.plan-place,
.plan-date,
.plan-money {
    flex: 1; /* 각 요소의 너비를 동일하게 설정 */
    text-align: left; /* 텍스트 정렬을 왼쪽으로 고정 */
    font-weight: bold; /* 강조 효과 */
}

.plan-place {
    margin-left: 10px;
    color: blue; /* 장소 색상 강조 */
    
}

.plan-date {
    padding-left: 80px; /* 간격 조정 */
    color: green; /* 날짜 색상 강조 */
}

.plan-money {
    color: red; /* 금액 색상 강조 */
}
