.Plan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan-buttons {
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    max-width: 500px;
}

.cancel-button {
    margin-top: 100px;
    /* 버튼들 사이에 여백 추가 */
}