.pagination-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* 상단에 공간을 추가하여 버튼과 컨텐츠 사이 간격을 줍니다. */
}

.pagination-buttons button {
    background-color: #f0f0f0;
    /* 기본 버튼 배경색 */
    border: 1px solid #ccc;
    /* 버튼의 테두리 */
    color: #333;
    /* 텍스트 색상 */
    padding: 8px 12px;
    /* 패딩을 사용하여 버튼 크기를 조절 */
    margin: 0 5px;
    /* 버튼 사이의 간격 */
    cursor: pointer;
    /* 커서가 가리키는 모양을 바꿔 클릭 가능함을 나타냅니다. */
    transition: all 0.2s ease-in-out;
    /* 버튼의 변화에 애니메이션 추가 */
}

.pagination-buttons button.active {
    background-color: #4CAF50;
    /* 활성화된 버튼의 배경색 */
    color: white;
    /* 활성화된 버튼의 텍스트 색상 */
    font-weight: bold;
    /* 활성화된 버튼의 텍스트 두께 */
}

.pagination-buttons button:hover {
    background-color: #e0e0e0;
    /* 호버 상태에서 배경색 변화 */
}

.pagination-buttons button:disabled {
    background-color: #f9f9f9;
    /* 비활성화된 버튼의 배경색 */
    color: #aaa;
    /* 비활성화된 버튼의 텍스트 색상 */
    cursor: not-allowed;
    /* 비활성화된 버튼의 커서 모양 */
}