.category-container {
    padding: 20px;
    border-radius: 10px; 
    width: 94%; 
    border: 1px solid #64b5f6;
    
  }
  
  .category-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .category-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .category-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .category-button:hover {
    background-color: #0056b3; 
  }
  
  .category-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white; 
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .category-item button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .category-item button:hover {
    background-color: #c82333;
  }
  