.main_nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.main_logo {
  height: 101px;
  width: auto;
  margin-left: 100px;
}

.home_button {
  margin-left: 40px;
}

.login_button {
  margin-right: 40px;
}