.main_nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.logo_section, .links_section, .auth_links {
  display: flex;
  align-items: center;
}

.links_section {
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 50px;
  background-color:	#FEEFDB;
  height: 50px;
  color: #007957;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main_logo {
  height: 90px;
  width: auto;
  margin-left: 300px;
  border-radius: 10px;
  animation: fadeIn 2s ease-in-out;
}

.home_button {
  margin-left: 40px;
}

.profile_button {
  margin-right: 40px;
  margin-top:0;
}

.nav_links {
  display: flex;
  height: 100px;
  margin-right: 400px;
  gap: 10px;
}

.login_button, .regiester_button {
  width: 100px;
  background-color: transparent; /* 배경색을 투명하게 설정 */
  color: #007957; 
  border: 1px solid #007957; 
  border-radius: 4px; /* 버튼 모서리 둥글게 처리 */
  padding: 8px 16px; /* 버튼 내부 여백 추가 */
}

.login_button:hover, .regiester_button:hover {
  background-color: #FEEFDB;
  cursor: pointer; /* hover 시 커서 모양 변경 */
}

/* .login_button {
  width: 100px;
  background-color: none;
  color: black;
}

.regiester_button {
  width: 100px;
  background-color: none;
  color: black;
} */

.profile_logo{
  height: 40px;
}

.logout_button {
  height: 40px;
  margin-right: 40px
}

.logout_button:hover {
  cursor: pointer;
}

.my-swal .swal2-popup {
  background-color: white !important;
  border-color: #1a202c !important;
  color: black !important;
  font-size: 1rem !important;
  text-align: center !important;
}
.my-swal .swal2-html-container {
  width:fit-content !important;
  margin: 0 auto !important;
}

@keyframes move-up {
  0% {
      bottom: -50px;
      opacity: 0;
  }
  100% {
      bottom: 0px;
      opacity: 1;
  }
}